

form{
    width: 50%;
    margin:  0 auto;
    margin-top: 50px;
}

.left{
    width: 60%;
    float: left;
    height: 130px;
}

.right{
    height: 130px;
    width: 40%;
    float: left;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
   
}

input{
    margin-top: 15px;
}

select{
    margin-top: 15px;
}

.btn{
    margin-top: 15px;
}
